@model List<Payroll_system.ViewModels.AttendanceViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Attendance</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attendance List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Attendance" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> &nbsp;New Attendance
            </a>
        </div>
        <div class="col-6">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p style="margin-top:20px">
                        <input type="text" name="SearchString" />
                        <input type="submit" value="Search" class="btn btn-success btn-sm" />
                    </p>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-borderd table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    AttendanceID
                </th>
                <th>
                    EmployeeID
                </th>
                <th>
                    EmployeeName
                </th>
                <th>
                    InDateTime
                </th>
                <th>
                    OutDateTime
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td width="10%">
                        @item.AttendanceId
                    </td>
                    <td width="10%">
                        @item.EmployeeId
                    </td>
                    <td width="30%">
                        @item.EmployeeName
                    </td>
                    <td width="20%">
                        @item.InDateTime
                    </td>
                    <td width="20%">
                        @item.OutDateTime
                    </td>
                    <td width="20%">
                        @item.Date
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Attendance" asp-action="Update" asp-route-id="@item.EmployeeId" class="btn btn-warning mx-1"> <i class="bi bi-pencil-square"></i>&nbsp;</a> <br />
                            <a asp-controller="Attendance" asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger mx-1"> <i class="bi bi-trash3-fill"></i>&nbsp;</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

