@model List<Payroll_system.ViewModels.SalaryViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">

        <div class="d-flex justify-content-end shadow-sm p-3 pt-1 pb-0 mb-4 bg-body rounded">
            <div class="col-6">
                <p class="fs-4 fw-semibold text-primary">Salary Setup</p>
            </div>
            <div>
                <form asp-action="Index" method="get">
                    <div class="d-flex form-actions no-color">
                        <div class="d-flex me-2">
                            <div class="me-2">
                                <select name="EmployeeId" class="form-control btn btn-outline-secondary btn-sm" asp-items="@ViewBag.employeelist">
                                    <option>Select Employee</option>
                                </select>
                            </div>
                            <div>
                                <input type="submit" value="Submit" class="btn btn-dark btn-sm" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <a asp-controller="Salary" asp-action="Create" class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle-fill"></i> &nbsp;New Salary
                </a>
            </div>
        </div>
    </div>

    <table class="table table-borderd table-striped shadow-sm">
        <thead>
            <tr class="small text-center">
               @* <th>
                    ID
                </th>*@
                <th>
                    EmployeeId
                </th>
                <th>
                    EmployeeName
                </th>
                <th>
                    Basic
                </th>
                <th>
                    Home Allownace
                </th>
                <th>
                    Medical Expense
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="small text-center">
                    @*<td width="10%">
                        @item.Id
                    </td>*@
                    <td width="10%">
                        @item.EmployeeId
                    </td>
                    <td width="15%">
                        @item.EmployeeName
                    </td>

                    <td width="10%">
                        @item.Basic Tk
                    </td>
                    <td width="13%">
                        @item.HomeAllowance Tk
                    </td>
                    <td width="13%">
                        @item.MedicalExpense Tk
                    </td>
                    <td>
                        <div class="btn-group mb-0" role="group">
                            <a asp-controller="Salary" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary rounded-1 text-end btn-sm"> <i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Salary" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1 rounded-1 btn-sm"> <i class="bi bi-trash3-fill"></i></a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

